body {
    text-align: center;
    margin: 20px 0px;
    background: linear-gradient(purple,white);
    color: #1a1a1a;
    text-shadow: 0 1px 3px rgba(0,0,0,0.25);

}

h1 {
    text-shadow: 0 1px 2px rgba(0,0,0,0.3);
}

p{
    font-size: medium;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: lighter;
    font-weight: bolder;
}

.header {
    height: 200px;
    padding: 20px;
    text-shadow: 0px 0px 2px plum;
}

.content {
    height: 426px;
    padding: 20px;
    display: flex;
    justify-content: space-around;
}
.footer {
    height: 216px;
    padding: 20px;
}

.card {
    width:200px;
    height:600px;
    margin-bottom: 20px;
}

.pic {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.footer {
    display: flex;
    justify-content: center;
}

.cnt{
    width:200px;
}